# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
env/
.venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.db

# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log

# Coverage
htmlcov/
.coverage

# Alembic
alembic/versions/

# Misc
*.swp
*.bak
*.tmp
